.fill {fill:#8FF;}
a, .a, a:visited.unvisited, .unvisited a:visited, button, svg	{
	color: #8FF;
}
.main-menu a.active, .main-menu a.active .actively {border-color: #488;}
a:visited { color: #9BBABA; }
a:focus, a:hover
,a.active:hover, a.active:hover .actively
,a.stripe:nth-child(odd):focus, a.stripe:nth-child(odd):hover
,button:hover:enabled
,button.submit:hover:enabled
{
	background: #022;
}
::selection {	background-color: #088; }
@media (pointer: fine) {
	a.active:focus, a.active:focus .actively,
	button:focus,	button.submit:focus {
		background: #022;
	}
}
button:disabled {
	color: #888;
}
a:active,
button:active:enabled,
button.submit:active {
	background: #044;
}
button.submit:enabled {
	background: #011;
	border-color: #033;
}

.stripe:nth-child(odd){ background: #001010; }

.holo-switch :checked + .holo-label:before {
	background-color:#033;
}