html, option {
	background: #000;
}
button, html, input, option, select, textarea {
	color: #FFF;
}
button, input, select, textarea, .messages {
	background: 0;
	border-color: #444;
}
div {
	scrollbar-color: #222 #000;
}
hr {
	border-color: #000;
}
/* .active, .active .actively {background: #222;} */
.divider {
	color: #222;
}
.icon-svg {opacity: .5;}
@media screen and (min-width: 40em){
	.icon-svg {opacity: .25;}
}
.post {
	border-color: #222;
}
.form, .form-bar, .top-select {
	border-color: #333;
}
.field-label {
	color: #CCC;
}
.sys {
	color: #888;
}
@media (pointer: fine) {
	::-webkit-scrollbar {width: 16px;}
	::-webkit-scrollbar-thumb {background:#222;}
	::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {background:#000;}
}

.holo-switch { cursor:pointer; }
.holo-switch input { display:none; }
.holo-label:before,
.holo-label:after {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	width: 48px;
	text-align:center;
	display:block;
	float:right;
}
.holo-label:after { content:"OFF"; }
.holo-label:before { content:""; }
.holo-switch :checked + .holo-label:after { content:""; }
.holo-switch :checked + .holo-label:before { content:"ON"; }

.holo-switch .holo-label:before { background:#333; }
.holo-switch .holo-label:after { background:#222; }
.holo-switch :checked + .holo-label:before { background:#777; }