.fill {fill:#8F8;}
a, .a, a:visited.unvisited, .unvisited a:visited, button {
	color: #8F8;
}
.main-menu a.active, .main-menu a.active .actively {border-color: #484;}
a:visited { color: #9BBA9B; }
a:focus, a:hover,
a.active:hover, a.active:hover .actively,
a.stripe:nth-child(odd):focus, a.stripe:nth-child(odd):hover,
button:hover:enabled,
button.submit:hover:enabled {
	background: #020;
}
@media (pointer: fine) {
	a.active:focus, a.active:focus .actively,
	button:focus,	button.submit:focus {
		background: #020;
	}
}
button:disabled {
	color: #888;
}
a:active,
button:active:enabled,
button.submit:active {
	background: #040;
}
button.submit:enabled {
	background: #010;
	border-color: #030;
}

.stripe:nth-child(odd){ background: #001000; }
