.fill {fill:#F60;}
a, .a, button {
	color: #F60;
}
a.active,
a:focus, a:hover,
button:focus, button:hover:enabled,
button.submit:focus, button.submit:hover:enabled {
	background: #301800;
}
button:disabled {
	color: #888;
}
/* a:visited { color: #C97; } */
a:active,
button:active:enabled,
button.submit:active {
	background: #402000;
}
button.submit:enabled {
	background: #201000;
	border-color: #420;
}

.stripe:nth-child(odd){ background: #100800; }
