.fill {fill:#F88;}
a, .a, a:visited.unvisited, .unvisited a:visited, button {
	color: #F88;
}
.main-menu a.active, .main-menu a.active .actively {border-color: #844;}
a:visited { color: #BA9B9B; }
a:focus, a:hover,
a.active:hover, a.active:hover .actively,
a.stripe:nth-child(odd):focus, a.stripe:nth-child(odd):hover,
button:hover:enabled,
button.submit:hover:enabled {
	background: #200;
}
@media (pointer: fine) {
	a.active:focus, a.active:focus .actively,
	button:focus,	button.submit:focus {
		background: #200;
	}
}
button:disabled {
	color: #888;
}
a:active,
button:active:enabled,
button.submit:active {
	background: #400;
}
button.submit:enabled {
	background: #100;
	border-color: #300;
}

.stripe:nth-child(odd){ background: #100000; }
