.fill {fill:#888;}
a, .a, a:visited.unvisited, .unvisited a:visited, button {
	color: #888;
}
.main-menu a.active, .main-menu a.active .actively {border-color: #444;}
a:visited { color: #777; }
a:focus, a:hover,
a.active:hover, a.active:hover .actively,
a.stripe:nth-child(odd):focus, a.stripe:nth-child(odd):hover,
button:hover:enabled,
button.submit:hover:enabled {
	background: #222;
}
@media (pointer: fine) {
	a.active:focus, a.active:focus .actively,
	button:focus,	button.submit:focus {
		background: #222;
	}
}
button:disabled {
	color: #444;
}
a:active,
button:active:enabled,
button.submit:active {
	background: #444;
}
button.submit:enabled {
	background: #111;
	border-color: #333;
}

.stripe:nth-child(odd){ background: #101010; }
