.fill {fill:#FF8;}
a, .a, button {
	color: #FF8;
}
a.active,
a:focus, a:hover,
a.stripe:nth-child(odd):focus, a.stripe:nth-child(odd):hover,
button:focus, button:hover:enabled,
button.submit:focus, button.submit:hover:enabled {
	background: #220;
}
button:disabled {
	color: #888;
}
a:active,
button:active:enabled,
button.submit:active {
	background: #550;
}
button.submit:enabled {
	background: #110;
	border-color: #440;
}

.stripe:nth-child(odd){ background: #101000; }
