.big, .big input, .big button {
	font-size: 2rem;
}
.top-bar {
	border-width: 0 0 1px !important;
}
.h {
	font-weight: normal;
	font-size: 2em;
	line-height: 2em;
	margin: 0;
	padding: 0 1rem;
}
.ps {
	padding: 0 1rem;
}
.top-select {
	border-width: 1px 0 0 1px;
	border-style: solid;
	padding: 0 1rem;
}
.hide {
	display: none;
}
.form {
	display: flex;
}
.expand, .buttons button {
	flex: 1;
}
.shrink {
	flex-shrink: 1;
}
.buttons button {
	white-space: nowrap;
}
.buttons {
	display: flex;
	flex-direction: row;
}
.wrap {
	flex-wrap: wrap;
}
.label {
	cursor: text;
	display: flex;
	flex-direction: column;
	margin: -1px 0 0;
}
.switch-label {
	cursor: pointer;
}
.field-label, .form button, .label select, .label input, .label textarea {
	padding: 0 1rem;
}
.field-label, .form button, .label select, .label input {
	line-height: 3em;
}
/* .label select, .label input, .label textarea { */
	/* border-width: 0; */
/* } */
.label textarea {
	resize: none;
}
.form-full .submit {
	border-width: 1px 0 0;
	text-align: left;
}
.form-bar {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	border-width: 1px 0;
	border-style: solid;
	/*overflow: hidden;*/
}
.wide {
	width: 100%;
}
.form-bar input {
	border-width: 0;
	line-height: 3em;
	padding: 0 1em;
}
.form-bar .submit {
	border-width: 0 0 0 1px;
	padding: 0 1em;
}
.scroll, .chat {
	min-width: 2em;
	overflow-y: scroll;
}
.chat p {
	border-bottom: 1px solid;
	margin: 0;
	overflow-x: auto;
}
.name {
	flex-shrink: 0;
	overflow: hidden;
	text-align: right;
	width: 7em;
}
.divider {
	margin: 0 .75em;
}
.chat-input {
	border-width: 1px 0 0;
	flex-shrink: 0;
}
.name-input {
	width: 8em;
	resize: horizontal;
}
