.expand {flex:1;}
.expand2 {flex:2;}
.flex, .column, .row, .headline { display: flex; }
.column {
  flex-direction: column;
}
.reverse {flex-direction: row-reverse;}
.reverse.column {flex-direction: column-reverse;}
.wide { width: 100%; }
.wrap, .menu { flex-wrap: wrap; }
.scroll, .main-menu {overflow-y: auto;}
.main-menu {max-height: calc(5rem + 1px);}

.headline {overflow: auto; }
.headline a, .headline button { padding: .5rem; }
.headline button, .headline a.to {
	border: 0;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	font-family: monospace;
	text-align: right;
}
.headline button span {	width: 100%; /*Chrome*/ }
.headline > :last-child {
	padding-right: 1rem;
}
.headline .title { display: block; margin: 0 0 .5rem; }
.headline.compact .title { padding-right: 1rem; }
.headline .info span { display: inline-block; margin-right: 1em; }
.headline .image { flex-shrink: 1; padding: 0 1rem; }
.headline .title, .headline .title-s { font-size: 1.5rem; flex: 1; }
.headline .url { flex: 1; padding-left: 1rem; }
.headline .count { min-width: 1.75em; }
.headline.compact .title { font-size: 1rem; }
/* .headline.compact .count { padding-right: .5em; } */

.headline.vertical { flex-direction: column; }

.noresize { resize:none; }

.fieldset-layout {
	align-items: inherit;
	display: inherit;
	flex-flow: inherit;
	flex-grow: inherit;
	height: 100%;
	justify-content: inherit;
}

@media screen and (min-width: 40em){
	label {display:flex; flex-direction: row;}
	input {flex:1;}
	.field-label {min-width:6.5em;}
	.app {flex-direction: row;}
	.main-menu {max-height: inherit;flex-direction: column; flex-wrap: nowrap; }
	.main-menu a, .main-menu .a {
		padding-right: 1.5rem;
	}
	.headline button, .headline a.to {
		padding: 1rem .5rem .5rem .5rem;
	}
	/* .headline .url { padding-left: .5rem; } */
	/* .headline.compact .title, .headline.compact .info { display: inline-block; } */
}
