html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
html, body, #root, .app {
	height: 100%;
	overflow: hidden;
}
body, button, input, textarea, select {
	/* font-family: Roboto Mono, Consolas, Monaco, monospace; */
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}
a { text-decoration:none; }
body {
	margin: 0;
}
h1 {
	font-size: 1rem;
  margin: 0;
  padding: .5rem 1rem;
}
p, .p {
	margin: 0;
	padding: 1rem;
}
button, input, select, textarea, .field-label {
	padding: .5rem 1rem;
}
select { padding-left: .25em; }
button, input, select, textarea {
	border-style: solid;
	border-width: 0px;
	margin: 0;
}
button {
	border-style: solid;
	cursor: pointer;
	/* height: 3em; */
	text-align: left;
}
button:disabled {
	cursor: auto;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
button.a {
	border: 0;
	text-align: left;
}
input, textarea {
	outline: 0;
}
input.valid:invalid {
	box-shadow: none;
}
input:disabled {
	border-color: transparent;
}
select {
	-moz-appearance: none;
}
option { padding: 0; }
form, label {
	display:flex;
	flex-direction: column;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
hr {
	border: solid;
	border-width: .75rem 0 0;
	margin: 0;
	width: 100%;
}
.main {
	flex: 1;
	overflow-y: auto;
}
.content {
	white-space: pre-wrap;
}
p.content, .content p {
	max-width: 55em;
}
.stripe .content {
	padding-top: 0;
}
.main-menu a, .main-menu .actively {border-style: solid; border-width: 0 0 1px; border-color: transparent; }
.main-menu .shell {border: 0;}
.app, .menu {
  display: flex;
}
.app {flex-direction: column;}
.icon-svg svg {
	display: block;
	height: 1.5em;
	margin: .5rem -.5rem 0 1rem;
	width: 1.5em;
}
.menu a, .menu .a, .tab {
	display: flex;
	flex-shrink: 0;
  padding: .5rem 1rem;
	white-space: nowrap;
}
.tab {
	flex-shrink: 0;
}
.menu a.shell {padding:0;}
.menu > :last-child { flex: 1; }
.main-menu a, .main-menu .a {
	padding: .5rem 1rem;
}
/* .tab { border-radius: 0 0 50% 50%; } */

.favicon {
	margin-left: .25em;
	max-height: 1em;
	width: 16px;
	opacity: .4;
	vertical-align:baseline;
}
.svg svg {
	max-height: 50vh;
	max-width: 100vw;
}
.headline .svg {
	display: flex;
	/* height: 3.5rem;width: 3.5rem; */
	height: 1.5rem;width: 3rem;
	overflow: hidden;
}
@media screen and (min-width: 40em){
	h1 {
		font-size: 2rem;
		font-weight: normal;
		line-height: 3rem;
	}
	.main-menu a, .main-menu .actively { border-width: 0 1px 0 0; }
	.icon-svg svg {	height: 4em;	width: 4em;	margin: 0 0 0 1rem; }
	.menu a, .menu .a, .tab {
		flex-direction: column;
	}
	/* .tab { border-radius: 0 50% 50% 0; } */
}
