body, button, input, textarea {
  background: #FFF; color: #000;
}
a, button:enabled { color: #0A0; background:#DFD;}
a:hover, button:hover:enabled, a:focus, button:focus
{background:#CEC;}
button, input, textarea {
  border-color: #888;
}
label {background:#EEE;cursor:text;}