body, button, input, textarea {
  background: #FFF; color: #000;
}
a, button:enabled { color: #04F; background:#DEF;}
a:hover, button:hover:enabled, a:focus, button:focus
{background:#CDE;}
button, input, textarea {
  border-color: #888;
}
label {background:#EEE;cursor:text;}